html, body {
  height: 100%;
  overflow: hidden;
  background: black;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
}